@require "./2_variables"
// Footer
.page-footer
  padding-top: 20px
  color: $footer-font-color
  background-color: $footer-bg-color
  .footer-copyright
    overflow: hidden
    min-height: 50px
    display: flex
    align-items: center
    padding: 10px 0px
    color: $footer-copyright-font-color
    background-color: $footer-copyright-bg-color
    @extend .light